*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box{
    width: 300px;
    height: 100px;
    border: 3px solid black;
    margin: 10px;
}

.box1{
    width: 50%;
    height: 100%;
    display: inline-block;

}
.box1-inside{
    width: 0;
    height: 100%;
    background-color: red;
    transition: .5s;

}
.box1:hover .box1-inside{
    width: 100%;
}
.box2{
    width: 50%;
    height: 100%;
    position: relative;
    display: inline-block;

}
.box2-inside{
    width: 0;
    height: 100%;
    background-color: red;
    position: absolute;
   right: 0;
    transition: .5s;
}
.box2:hover .box2-inside{
    width: 100%;
 
}
